<h1>Pitches</h1>

<% @pitches.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |pitch| %>
      <div class="col-md-4">
        <%= image_tag pitch.image_url, width: '100%' if pitch.image.present? %>
        <%#= image_tag pitch.image_url(:thumb) if pitch.image.present? %> <!-- code link for thumbnails - https://guides.railsgirls.com/thumbnails -->
        <h4><%= link_to pitch.name, pitch %></h4>
        <%= pitch.description %>
      </div>
    <% end %>
  </div>
<% end %>